<div class="carousel-container" style="margin:0;padding:0;">
    <ce-carousel carousel-height="400px" carousel-width="100vw">

        <ce-carousel-container>
            <ce-carousel-item>
                <ce-carousel-item-content slot="content"
                                          carousel-item-content-title="Quinntyne">
                </ce-carousel-item-content>
            </ce-carousel-item>
            <ce-carousel-item>
                <h1 slot="content">Olivia</h1>
            </ce-carousel-item>
            <ce-carousel-item>
                <h1 slot="content">Vanessa</h1>
            </ce-carousel-item>
        </ce-carousel-container>

    </ce-carousel>
</div>